name: Developer checks
on: [push, pull_request]
jobs:
  checks:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - ubuntu-latest
          # - macos-latest
          # - windows-latest
          - self-hosted
        # Needs to test on Node 15 but there's currently an error on GH action
        # ERR! code EINTEGRITY for the oas-schemas@git+https://git@github.com/OAI/OpenAPI-Specification.git#0f9d3ec7c033fef184ec54e1ffc201b2d61ce023
        # package
        node_version: [ '14', '15' ]
        architecture: [ 'x64' ]
        # # an extra windows-x86 run:
        # include:
        #   - os: windows-2016
        #     node_version: 12
        #     architecture: x86
    name: Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ matrix.os }}-node-${{ matrix.node_version }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ matrix.os }}-node-${{ matrix.node_version }}-build-${{ env.cache-name }}-
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          architecture: ${{ matrix.architecture }}
      - run: npm ci
      - run: npm run prepack # Try to 'compile' project
      - run: npm run test-coverage # Run all developer checks (lint & unit tests)
      - run: npm run integration-test # Run integration tests
